@media only screen and (min-width: 901px)
{
    .sessaoBeneficios {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }

    .sessaoBeneficios h2 {
        width: 90%;
        margin-right: 150px;
        margin-left: 150px;
        text-align: center;
        font-size: 30px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: #638e93;
        margin-top: 10px;
        border-radius: 20px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        background-color: #ffffff;
    }

    .imagemBeneficios img {
        width: 300px;
        height: 250px;
        flex-direction: flex-start;
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
        margin-top: 10px;
    }

    .sessaoBeneficios ul {
        list-style: none;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 18px;
        margin: 10px;
        padding: 5px;
        text-align: center;
        margin-left: 0;
        margin-right: 0;
        width: 280px;
        border-radius: 25px;
        margin-left: 30px;
        margin-top: 10px;
    }

    .sessaoBeneficios li {
        border: 1px solid white;
        height: 50px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        padding: 5px;
        border-radius: 20px;
        color: #638e93;
        padding-left: 20px;
        text-align: left;
        text-align: center;
        justify-content: center;
    }
}