@media only screen and (min-width: 768px)
{
    .divFacetaResina
    {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 900px;
        margin-top: 80px;
        border-bottom: 2px solid #638e93;
        box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        color: #638e93;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 15px;
        font-weight: bolder;
    }
}

@media only screen and (min-width: 920px)
{
    .divFacetaResina
    {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: 80px;
        border-bottom: 2px solid #638e93;
        box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        color: #638e93;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 15px;
        font-weight: bolder;
    }

    .sessaoFacetaResina
    {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        width: 900px;
        direction: justify;
        justify-content: center;
        border-radius: 10px;
        margin-top: 60px;
        margin-left: auto;
        margin-right: auto;
        padding: 10px;
        padding-left: auto;
        padding-right: auto;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    .sessaoFacetaResina img
    {
        width: 350px;
        height: 250px;
        margin-right: 10px;
        margin-top: 30px;
        border-radius: 10px;
    }
    .sessaoFacetaResina .descricao
    {
        display: flex;
        flex-wrap: wrap;
        margin-top: 30px;
        padding: 10px;
        width: 500px;
    }
    .sessaoFacetaResina p, li
    {
        font-size: 20px;
    }
}