@media only screen and (max-width: 600px)
{
    .sessaoBeneficios {
        display: flex;
        flex-wrap: wrap;
        width: 600px;
    }

    .sessaoBeneficios h2 {
        width: 600px;
        text-align: center;
        font-size: 30px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: #638e93;
        margin-top: 10px;
        border-radius: 20px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        background-color: #ffffff;
    }

    .imagemBeneficios img {
        width: 250px;
        height: 250px;
        flex-direction: flex-start;
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
    }

    .sessaoBeneficios ul {
        list-style: none;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 18px;
        margin: 10px;
        padding: 10px;
        margin-left: 0;
        margin-right: 0;
        width: 400px;
        border-radius: 25px;
    }

    .sessaoBeneficios li {
        border: 1px solid white;
        height: 45px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        padding: 5px;
        border-radius: 20px;
        color: #638e93;
        padding-left: 20px;
        width: 380px;
    }
}

@media only screen and (min-width: 600px)
{
    .sessaoBeneficios {
        display: flex;
        flex-wrap: wrap;
        width: 900px;
    }

    .sessaoBeneficios h2 {
        width: 600px;
        height: 60px;
        text-align: center;
        margin-right: 150px;
        margin-left: 150px;
        padding: 10px;
        justify-content: center;
        align-items: center;
        font-size: 40px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: #638e93;
        margin-top: 10px;
        border-radius: 20px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        background-color: #ffffff;
    }

    .imagemBeneficios img {
        width: 300px;
        height: 300px;
        margin-right: 30px;
        flex-direction: flex-start;
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
    }

    .sessaoBeneficios ul {
        list-style: none;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 18px;
        margin: 10px;
        padding: 10px;
        margin-left: 0;
        margin-right: 0;
        width: 400px;
        border-radius: 25px;
    }

    .sessaoBeneficios li {
        border: 1px solid white;
        height: 45px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        padding: 5px;
        border-radius: 20px;
        color: #638e93;
        padding-left: 20px;
        width: 380px;
    }
}