@media only screen and (min-width: 901px)
{
    .divServicos
    {
        width: 100%;
    }

    .sessaoServicos
    {
        display: flex;
        flex-wrap: wrap;
        width: 900px;
        margin-left: auto;
        margin-right: auto;
    }
}