@media only screen and (min-width: 901px)
{
    .rodape
    {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        flex-flow: column;
        flex-direction: column;
        margin-top: 60px;
    }
    .atendimento, .contato
    {
        display: flex;
        flex: 100%;
    }

    .redesSociais
    {
        display: flex;
        width: 100%;
        padding: 10px;
        flex-wrap: wrap;
        flex-direction: row wrap;
        justify-content: center;
        align-items: center;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    .redesSociais img
    {
        width: 60px;
        height: auto;
        margin: 5px;
        margin: 10px;
        border-radius: 50%;
    }
    .atendimento
    {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 20px;
        padding-bottom: 10px;
    }
    .contato
    {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 20px;
        color: #638e93;
        padding-bottom: 10px;
        padding-top: 20px;
        
    }
    .horarioAtendimento, .localizacao
    {
        display: flex;
        flex-direction: column;
        width: 45%;
        height: 300px;
        padding-left: 10px;
    }
    .horarioAtendimento
    {
        align-self: flex-start;
        margin-right: 20px;
        padding-left: 20px;
    }
    .localizacao 
    {
        align-content: flex-end;
        margin-left: 10px;
        padding-right: 20px;
        direction:rtl;
    }
    .author
    {
        text-align: center;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 16px;
        color: #638e93;
        margin-top: 10px;
        margin-bottom: 20px;
    }
}