@media only screen and (max-width: 600px) 
{
    .divSobrenos
    {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 600px;
        margin-top: 80px;
        border-bottom: 2px solid #638e93;
        box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        color: #638e93;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 25px;
        font-weight: bolder;
    }

    .sessaoSobrenos
    {
        display: flex;
        flex-wrap: wrap;
        width: 600px;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        margin: 30px 0 0 0;
        padding: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    .sessaoSobrenos h3
    {
        text-align: center;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    .sessaoSobrenos img
    {
        width: 400px;
        border-radius: 10px;
    }
    .sessaoMissaoVisaoValores
    {
        margin-top: 40px;
        width: 600px;
        padding-left: 5px;
        padding-right: 5px;
    }
    .missao,.visao,.valores
    {
        border-bottom: 2px solid #638e93;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        margin: 10px;
        padding: 10px;
        border-radius: 20px;
    }
    .sessaoMissaoVisaoValores h2
    {
        font-size: 20px;
        color: #638e93;
        text-align: center;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        margin-top: 20px;
    }
    .sessaoMissaoVisaoValores h3
    {
        font-size: 20px;
        text-align: center;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        margin-top: 20px;
    }
    .imagemAnimacao h3
    {
        text-align: center;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: #638e93;
    }
    .imagemAnimacao
    {
        width: 600px;
        position: relative;
        margin: 30px auto;
    }
    .slides
    {
        display: none;
    }
    img
    {
        vertical-align: middle;
        width: 100%;
        height: 400px;
        border-radius: 20px;
    }
    
    .pontos
    {
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
    }
    .ativo
    {
        background-color: #717171;
    }
    .fade
    {
        animation-name: fade;
        animation-duration: 1.5s;
    }
    @keyframes fade
    {
        from {opacity: .4} 
        to {opacity: 1}
    }
    .nosEncontrar
    {
        margin-top: 50px;
        margin-bottom: 30px;
        width: 600px;
        padding: 5px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .nosEncontrar h3
    {
        text-align: center;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: #638e93;
    }

}

@media only screen and (min-width: 601px) 
{
    .divSobrenos
    {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 900px;
        margin-top: 80px;
        border-bottom: 2px solid #638e93;
        box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        color: #638e93;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 25px;
        font-weight: bolder;
    }

    .sessaoSobrenos
    {
        display: flex;
        flex-wrap: wrap;
        width: 900px;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        margin: 30px 0 0 0;
        padding: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    .sessaoSobrenos p
    {
        font-size: 20px;
    }
    .sessaoSobrenos h3
    {
        text-align: center;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    .sessaoSobrenos img
    {
        width: 400px;
        border-radius: 10px;
    }
    .sessaoMissaoVisaoValores
    {
        margin-top: 40px;
        width: 900px;
        padding-left: 5px;
        padding-right: 5px;
    }
    .missao,.visao,.valores
    {
        border-bottom: 2px solid #638e93;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        margin: 10px;
        padding: 10px;
        border-radius: 20px;
    }
    .sessaoMissaoVisaoValores p,ul
    {
        font-size: 20px;
    }
    .sessaoMissaoVisaoValores h2
    {
        font-size: 20px;
        color: #638e93;
        text-align: center;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        margin-top: 20px;
    }
    .sessaoMissaoVisaoValores h3
    {
        font-size: 20px;
        text-align: center;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        margin-top: 20px;
    }
    .imagemAnimacao h3
    {
        text-align: center;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: #638e93;
        font-size: 30px;
    }
    .imagemAnimacao
    {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        width: 900px;
        position: relative;
        margin: 30px auto;
    }
    .slides
    {
        display: none;
    }
    img
    {
        vertical-align: middle;
        width: 900px;
        height: 900px;
        height: 400px;
        border-radius: 20px;
    }
    
    .Pontos
    {
        width: 900px;
        text-align: center;
        margin-top: 10px;
    }
    .pontos
    {
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
    }
    .ativo
    {
        background-color: #717171;
    }
    .fade
    {
        animation-name: fade;
        animation-duration: 1.5s;
    }
    @keyframes fade
    {
        from {opacity: .4} 
        to {opacity: 1}
    }
    .nosEncontrar
    {
        margin-top: 50px;
        margin-bottom: 30px;
        width: 900px;
        padding: 5px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .nosEncontrar iframe
    {
        width: 900px;
        height: 450px;
        border-radius: 10px;
    }
    .nosEncontrar h3
    {
        text-align: center;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 30px;
        color: #638e93;
    }
    

}