@media only screen and (max-width: 600px)
{
    .faleConosco
    {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        flex-flow: row wrap;
        align-items: center;
        margin: space-between;
        padding: 2px;
        width: 180px;
        position: fixed;
        bottom: 60px;
        right: 2px;
        background-color: #638e93;
        color: #ffffff;
        border-top-left-radius: 20px;
    }
    .faleConosco img
    {
        width: 50px;
        height: 50px;
        margin-left: 3px;
        border-radius: 50%;
    }
    .faleConosco a
    {
        text-decoration: none;
        color: white;
    }
}

@media only screen and (min-width: 600px)
{
    .faleConosco
    {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        flex-flow: row wrap;
        align-items: center;
        margin: space-between;
        padding: 2px;
        width: 180px;
        position: fixed;
        bottom: 60px;
        right: 2px;
        background-color: #638e93;
        color: #ffffff;
        border-top-left-radius: 20px;
    }
    .faleConosco img
    {
        width: 50px;
        height: 50px;
        margin-left: 3px;
        border-radius: 50%;
    }
    .faleConosco a
    {
        text-decoration: none;
        color: white;
    }
}