@media only screen and (min-width: 901px)
{
    .menu
    {
        width: 100%;
    }
    .menu .imagemMenu
    {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin:0;
    }

}