@media only screen and (min-width: 768px)
{
    .menu
    {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 40px;
        width: 900px;
        margin-left: auto;
        margin-right: auto;
    }
    .menu #home
    {
        align-self: flex-start;
        margin-left: 10px;
        margin-right: 200px;
    }
}

@media only screen and (min-width: 901px)
{
    .menu
    {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 40px;
        width: 900px;
        margin-left: auto;
        margin-right: auto;
    }
}