@media only screen and (max-width: 600px)
{
    .menu
    {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding: 10px 0 10px 0;
        justify-content: center;
        width: 600px;
        border-radius: 10px;
        margin: 30px 0 0 0;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    .menu a
    {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 20px;
        font-weight: bolder;
        color: #638e93;
        text-decoration: none;
    }
    .menu a:hover
    {
        color: #315a5f;
        text-decoration: underline;
        color: #638e93;

    }

}

@media only screen and (min-width: 601px) 
{
    .menu
    {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding: 10px 0 10px 0;
        justify-content: center;
        width: 900px;
        border-radius: 10px;
        margin: 30px 0 0 0;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    .menu a
    {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 20px;
        font-weight: bolder;
        color: #638e93;
        text-decoration: none;
    }
    .menu a:hover
    {
        color: #638e93;
        text-decoration: underline #638e93;
        
    }

}